language: php

before_script:
  - composer install --dev --prefer-source

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

script:
  - ./vendor/bin/phpunit --coverage-clover ./build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm
